body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
 }
 
 ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
 }
 h1,h2,h3,h4,h5,h6,p {
    margin: 0;
 }
 
 img {
    display: block;
  }
 
 .container {
       max-width: 320px;
       padding-left: 16px;
       padding-right: 16px;
       margin: 0 auto;
 }
 
 @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
 
  /*logo*/
.logo-container {
   display: flex;
}

.logo-nav {
   background-color:#FFFFFF;
   display:flex;
   align-items: center;
}

.logo {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin-right: 149px;
    padding: 24px 0;
    display: flex;
    text-decoration: none;
}

.logo-accent {
   color: #2e2f42;
}

.button-mast {
   border: none;
   background-color: transparent;
   padding: 0;
   margin: 0;
}

.logo-pa {
   display: none;
}

.contacts {
   display: none;
}

@media screen and (min-width: 768px) {
  .logo-container {
    max-width: 768px;
  }
  .logo {
    margin-right: 120px;
  }
    .contacts {
   font-style: normal;
   margin-left: auto;
   padding: 0;
   display: flex;
   flex-direction: column;
  }
    .icon-header-mast {
    display: none;
  }
   .logo-pa {
   display: flex;
   gap: 40px;
   padding: 0;
}
.logo-list {
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-list.current::after {
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;
    position: absolute;
    color: #404BBF;
  }
  .logo-list.current {
    color: #404BBF;
    position: relative;
 }
 .contacts-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
}
.contacts-list{
    color: #434455;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.contacts:hover, 
.contacts:focus {
color: #404bbf
}
.contacts-list:hover,
 .contacts-list:focus,
 .logo-list:hover,
 .logo-list:focus {
    color: #404bbf;
  }
a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}
}

@media screen and (min-width: 1158px) {
  .logo-container {
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
  }
  .logo {
    margin-right: 76px;
  }
  .logo-nav {
  background-color:#FFFFFF;
  display:flex;
  align-items: center;
}
.contacts-ul {
  display: flex;
  gap: 40px;
}
.contacts {
  padding: 24px 0;
}
.contacts-ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.contacts-list {
  font-size: 16px;
}
}

/*hero*/
.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46,47,66,0.7 )
  ),
  url(../images/people-office-m.jpg);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), 
(min-resolution: 2dpx) {
  .hero {
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46,47,66,0.7 )
  ),
  url(../images/people-office-m-2x.jpg);
  }
}

.hero-title {
    color:#FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    text-align: center;
    margin:0 auto;
    max-width: 216px;
    margin-bottom: 72px;
}

.hero-button {
    color:#FFF; 
    border-radius: 4px;      
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    margin: 0 auto;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .hero-button:hover,
   .hero-button:focus {
      background-color: #404BBF;
  }

@media screen and (min-width: 768px) {
  .hero {
  padding: 112px 0;
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46,47,66,0.7 )
  ),
  url(../images/people-office-pl.jpg);
  max-width: 768px;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), 
(min-resolution: 2dpx) {
  .hero {
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46,47,66,0.7 )
  ),
  url(../images/people-office-pl-2x.jpg);
}
}
.hero-title {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin:0 auto;
    max-width: 496px;
    margin-bottom: 36px;
}
}

@media screen and (min-width: 1158px) {
    .hero {
padding: 188px 0;
background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46,47,66,0.7 )
  ),
  url(../images/people-office.jpg);
  max-width: 1440px;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), 
(min-resolution: 2dpx) {
  .hero {
background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46,47,66,0.7 )
  ),
  url(../images/people-office-2x.jpg);
}
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
}
}

/*strategy*/
.features {
  padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-div {
  display: none;
}

.features-sabtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  }
  .features-sabtitle{
    text-align: left;
  }
  .features-item-text {
    text-align: left;
  }
.features-item {
    width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
  .features {
  padding: 120px 0;
}
.features-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8E8F99;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-sabtitle {
  font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}
.features-item-text {
  font-weight: 400;
  width: 100%;
}
}
/*team*/
.our-team{
background-color: #F4F4FD;
padding: 96px 0;

}

.our-team-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 0;
}

.team-list-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.our-team-li {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 } 


.team-img {
  display: block;
  width: 100%;
}

.our-team-cards {
  padding: 32px 0;
  width: 100%;
}

.name-title {
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }

 .name-text {
    margin-bottom: 8px;
    color:  #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
 }

 .team-icon-ul{
    display: flex;
    justify-content: center;
    gap: 24px;
 }

 .team-icon-li{
    width: 40px;
   height: 40px;
 }
 
 .team-soc-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .team-soc-link:hover, .team-soc-link:focus {
    background-color: #404BBF;
 }


@media screen and (min-width: 768px) {
.team-list-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 64px;
  justify-content: center;
}
}

@media screen and (min-width: 1158px) {
    .team-list-ul {
  display: flex;
  gap: 24px;
}
    .our-team-li {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4); 
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
     } 
}

/*portfolio*/
.portfolio {
  padding: 96px 0;
}

.team-headd{
    margin-bottom: 72px;
    font-size: 36px;
    color: #2E2F42;
    text-align: center;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
   }
  

.team-headd-cards {
    column-gap: 24px;
    list-style-type: none;
    flex-wrap: wrap;
    row-gap: 48px;
    display: flex;
}

.team-list-li {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-li:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }

 .team-list-li:hover .port-live-p {
    transform: translateY(0%);
 }

 .port-live{
    position: relative;
    overflow: hidden;
 }

.port-img {
  display: block;
  max-width: 100%;
}

.port-live-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio-cards {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
 }

 .title-p {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-family: Roboto; 
}

.descr {
   color: #434455;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5; 
   letter-spacing: 0.02em;
}

@media screen and (min-width: 768px){
  .team-headd-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}
.team-list-li {
  width: calc((100% - 24px) / 2);
}
.port-img {
  width: 356px;
}
}

@media screen and (min-width: 1158px) {
    .team-headd-cards {
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
  flex-wrap: wrap;
}
.team-list-li {
  width: calc((100% - 48px) / 3);
    box-shadow: none;
}
}

/*footer*/
.footer {
    background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-accent {
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}
    .footer-title  {
  color:#F4F4FD
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    max-width: 264px;
 }

.footer-icon-soc {
justify-content: center;
}

.footer-icon-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    }
 

 .icon-ul {
  display: flex;
  gap: 16px;
}

.icon-li{
    width: 40px;
  height: 40px;
}

.footer-link{
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-link:hover,   .footer-link:focus {
    background-color: #31d0aa;
  }

  .subscribe-div{
  margin-left: auto;
  width: 100%;
}

.subscribe-text {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 72px;
  }

  .subscribe-form  {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-label {
  display: flex;
  gap: 16px;
}

.subscribe-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color:#ffffff;
  background-color: transparent;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: #4D5AE5;
}

.subscribe-input::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px, 16px;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  background-color: #4D5AE5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:focus,
 .subscribe-button:hover {
   background-color: #404BBF;
 }

 .button-icon {
  fill: #FFFFFF;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 92px;
    padding-right: 92px;
  }
.footer-container{
max-width: 768px;
row-gap: 72px;
column-gap: 24px;
flex-direction: row;
flex-wrap: wrap;
align-items: baseline;
margin: 0 auto;
justify-content: start;
text-align: left;
}
.footer-logo {
  align-items: start;
}
.footer-icon-soc {
  align-items: start;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.subscribe-input {
  width: 264px;
}
.footer-text {
  width: 264px;
  padding: 0;
  margin: 0;
}
.footer-icon-text{
  justify-content: start;
}
.subscribe-text {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
}

.subscribe-button {
  margin: 0;
  max-width: 165px;
height: 40px;
}
}

@media screen and (min-width: 1158px) {
.footer {
  padding: 100px 0;
  margin: 0 auto;
}
.footer-container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
}
.footer-logo{
  margin-right: 120px;
}
.footer-icon-soc{
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}
.subscrib-div {
  margin-left: auto;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
}

/*modal-window*/
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
visibility: hidden;
}

.is-open {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  opacity: 0;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.backdrop.is-open .modal {
  opacity: 1;
}

.modal-button {
  position: absolute;
  top:24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-title {
margin-bottom: 16px;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color:#2e2f42;
}

.modal-div-label {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-div {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
  border-color: #4D5AE5;
}

.modal-input + .modal-label-icon{
  fill: #4D5AE5;
}

.modal-label-icon {
  position: absolute;
  left: 16px;
  top:50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2E2F42;
}

.comment-div {
  margin-bottom: 16px;
}

.comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;  
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus,
.comment:hover {
   border-color: #4D5AE5;
}

.checkbox-div {
  position: relative;
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
 line-height: 1.17;
 letter-spacing: 0.04em;
 color: #8E8F99;
display: flex;
align-items: center;
}

.checkbox:checked + .checkbox-label .checkbox-span {
  background-color: #404BBF;
  border: none;
  fill: #f4f4fd;
}

.checkbox:focus + .checkbox-label .checkbox-span {
  border-color: #4D5AE5;
}

.checkbox-span {
  width: 16px;
 height: 16px;
 margin-right: 8px;
 border: 1px solid rgba(46, 47, 66, 0.4);
 border-radius: 2px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 display: inline-flex;
 align-items: center;
 justify-content: center;
 fill: transparent;
}

.privacy-policy {
  color: #4D5AE5;
 font-size: 12px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.17; /* 116.667% */
 letter-spacing: 0.04;
 text-decoration: underline;
}

.modal-button-submit{
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #4D5AE5;
  display: block;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  min-width: 169px
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: #404BBF;
}

@media screen and (min-width: 768px) {
.modal {
  width: 408px;
  min-height: 584px;
}
}
@media screen and (min-width: 1158px) {
.modal {
  width: 408px;
  min-height: 584px;
}
}

/*mobile*/
.modal-button {
  position: absolute;
  top:24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: none;
  position: fixed;
  opacity: 0;
}

.is-open {
display: block;
}

.backdrop.is-open .modal {
  opacity: 1;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
background-color: #ffffff;
width: 100%;
height: 100%;
padding: 72px 16px 40px 16px;
display: flex;
 flex-direction: column;
}

.mobile-first current.current {
  color: #404BBF;
}

.mobile-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-first {
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
color: #2E2F42;
text-decoration: none;
}

.mobile-first:hover,
.mobile-first:focus {
  color: #404BBF;
}

.mobile-contacts-ul {
  gap: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.mobile-cont {
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
color: #434455;
font-size: 20px;
text-decoration: none;
}

.mobile-cont.current {
color: #404BBF;
}
.mobile-cont:focus,
.mobile-cont:hover {
color: #404BBF;
}
.mobile-icon-ul {
  display: flex;
  gap: 40px;
}
.mobile-icon-li {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
}